---
layout: archive
permalink: /categories/
title: "Posts by Category"
author_profile: true
---

{% include base_path %}
{% assign all_docs = site.posts %}
{% for collection_name in site.categorized_collections %}
  {% assign collection = site[collection_name] %}
  {% assign all_docs = all_docs | concat: collection %}
{% endfor %}
{% include group-by-array collection=all_docs field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}